.backgroundGradient{
    -fx-background-color: linear-gradient(to top right, #ff6328, #8103ec);
}
.bouttons{
    -fx-background-color: lightgray;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    
}
.bouttons:hover{
    -fx-background-color:rgb(39, 39, 39);
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-text-fill:white;
}
.bouttons:pressed{
    -fx-background-color:rgb(39, 39, 39);
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-text-fill:white;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.textFeilds{
    -fx-background-color: lightgray;
    -fx-stroke-width: 5;
    -fx-stroke: black;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}
.navButtons{
    -fx-background-color: White;
    -fx-font-size : 20;
}
.H1{
    -fx-font-size : 30;
}
.H2{
    -fx-font-size : 20;
}
.H3{
    -fx-font-size : 15;
}
.mainBackground{
    -fx-background-color: White;
}
.Green{
    -fx-background-color: #00FF19;
}
.red{
    -fx-background-color: #ff0000;
}
.gray{
    -fx-background-color: lightgray;
}
.listCells{
    -fx-background-radius: 100;
    -fx-background-color: lightgray;
}
.borderColor{
    -fx-border-color: #0c3f85;
    -fx-background-radius: 20;
}
.transparentBackground{
    -fx-background-color: rgba(255, 255, 255, 0);
}
